#pfp {
    object-fit:scale-down;
    width: 100%;
    height: 150px;
    clip-path: circle();
}

#top-banner {
    background-color: lightskyblue;
    width: 100%; /* ajoutez cette ligne pour que le header prenne toute la largeur */
    padding: 0; /* ajoutez cette ligne pour supprimer les marges intérieures */
    margin: 0; /* ajoutez cette ligne pour supprimer les marges extérieures */
}

body {
    background-color:cornsilk
}

h3, hr {
    margin-top: 75px;
}

.hr1 {
    border: 0;
    height: 1px;
    background-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(255,246,246,1) 92%); 
}

main, #bg-color {
    background-color: white;
}

#floatingMessage {
    height: 200px;
}

#dl-button {
    cursor: pointer;
}

a { color: inherit; } 